## KiCad
# Don't Need Backups to be in Git
Small_Pendant-backups
# Not useful beyond exporting STEP Files
split_boards/

## Compiler Needs
.clangd
compile_flags.txt
compiler_needs/

## Lock Files should always stay out
*.lck

## MacOS File System Weirdness
.DS_Store
